@font-face {
    font-family: "Chatime";
    src: url("fonts/chatime/chatime.otf");
}

* {
    margin: 0;
    font-family: "Chatime", "Helvetica";
}

h2 {
    font-size: 42px;
}

p {
    font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-auto-rows: 100vh;
}

.line {
    border-left: 2px solid #000000;
    height: 300vh;
    position: absolute;
    left: 50%;
    margin-left: 6px;
    top: 0;
}

#circle_1,
#circle_2,
#circle_3 {
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

#circle_1 {
    top: 29%;
}

#circle_2 {
    top: 129%;
}

#circle_3 {
    top: 229%;
}

.picture_left,
.picture_right {
    display: flex;
    align-items: center;
}

.picture_left,
.picture_right,
.text_left,
.text_right {
    margin: 200px;
}

.picture_left {
    grid-column: 1;
}

.text_right {
    grid-column: 2;
}

.timeline {
    width: 100%;
    background-position: cover;
    background-repeat: no-repeat;
}


img {
    justify-content: center;
    width: 90%;
}

.scroll-tracker {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 5px;
    background: #000;
}